<div class="container-fluid" style="padding: 0">
  <nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse" style="height: 90px;">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="#"><img src="http://i829.photobucket.com/albums/zz217/RoYibarra/meg-logo.png" class="logo-img"></a>

    <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
      <ul class="navbar-nav mr-auto mt-2 mt-md-0">
        <li class="nav-item">

        </li>
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <ul class="navbar-nav mr-auto mt-2 mt-md-0">
          <li class="nav-item">
            <a class="nav-link" routerLink="/horario">Dashboard</a>
          </li>
          <li>
            <button class="btn btn-outline-success" type="submit">Empezar</button>
          </li>
        </ul>
      </form>
    </div>
  </nav>

  <router-outlet></router-outlet>
</div>

<!--{{titulo}}
<div class="left">
  <div class="separador">
    <a href="" class="logo">
          <span class="logoHead">
            <img src="http://i68.tinypic.com/o0nns8.png">
          </span>
    </a>
    <nav>
      <div>
        <div>
          <a href="" class="logo">
            <img src="" alt="" class="fotoPerfil">
            <h4 class="nombre">Nombre y Apellido</h4>
          </a>
        </div>
      </div>
    </nav>
    <ul class="nav nav-pills-pull-right">
      <li class="elements">
        <a routerLink="/horario">Horario</a>
      </li>
      <li class="elements">
        <a href="/todos">ToDo's</a>
      </li>
      <li class="elements">
        <a href="/goals">Goals</a>
      </li>
    </ul>
  </div>
</div>
<div class="right">
  <header>
    <h3>Título</h3>
  </header>
  <div class="container">
    <div class="row">
      <router-outlet></router-outlet>
      &lt;!&ndash;h3 class="secondItem">
        users[0].firstName
      </h3&ndash;&gt;
    </div>
  </div>
</div>-->

