<!--<h1 class="firstItem">{{titulo}}</h1>
{{'Tengo ' + clases.length + ' clases'}}
<ul *ngIf="clases.length >= 1">
  <li class="secondItem" *ngFor="let clase of clases">
    {{clase}}
  </li>
</ul>

<div [ngSwitch]="market">
  <div *ngSwitchCase="'NYSE'">New York Stock E.</div>
  <div *ngSwitchCase="'LSE'">London Stock E.</div>
  <div *ngSwitchDefault>No se encontro Match</div>
</div>-->

<div class="container">
  <h2>Clases:</h2>
  <div class="m-x-auto p-a-2">
    {{titulo}}
    <ul>
      <li *ngFor="let clase of clases">
        {{clase.name}}
      </li>
    </ul>
  </div>
</div>

<!--Código Clase: <input #newClasCode>
Nombre de la clase: <input #newName>
<button type="button" class="btn btn-primary" (click)="createClase(newClasCode.value, newName.value)">Crear clase</button>-->
<!--<table class="table table-striped table-hover table-sm center">
  <thead class="thead-inverse">
  <tr>
	<th>Nombre</th>
  </tr>
  </thead>
  <tr *ngFor="let clase of clases">
	<td>{{clase}}</td>
  </tr>
</table>-->
