.left {
  background-color: #242424;
  width: 10%;
  height: 100em;
  margin: 0;
  box-shadow: 2px 0px 20px #101010;
  float: left;
}
.right {
  background-color: rgba(238, 238, 238, 0.2);
  width: 90%;
  height: 135%;
  margin: 0;
  float: right;
}
.right header {
  width: 100%;
  height: 45px;
  background-color: rgba(255, 255, 255, 0.82);
  padding: 10px;
  font-family: "Open Sans", sans-serif;
  position: fixed;
  z-index: 20;
  line-height: 30px;
  color: #999;
  font-size: 18px;
  box-shadow: 2px 0px 20px #101010;
}
.right header h3 {
  margin-left: 10px;
}

.right .bordeArriba {
  border-top: 10px solid #378fc3;
}
.separador {
  border-top: 10px solid #378fc3;
}
.left img {
  width: 135px;
  margin: 0px auto 10px auto;
  display: block;
}
.fotoPerfil {
  width: 60px!important;
  margin-top: -20px!important;
  margin-bottom: 10px!important;
  border-radius: 100%;
  border: solid 3px white;
}
.left h3 {
  color: white;
}
.logo {
  margin: 20px 0 10px 15px !important;
  padding: 3px;
}
.logoHead {
  width: 100%;
  border-bottom: 1px solid #5d5c5c;
}
.navbar-brand {
  height: 50px;
  padding: 15px 15px;
  font-size: 18px;
  line-height: 20px;
}
.nombre {
  color: white;
  font-family: Roboto;
  text-align: center;
}
ul {
  text-decoration: none!important;
  width: 100%;
}
.elements {
  text-align: left;
  color: gray;
  font-family: Roboto;
  border-top: 1px solid #2d2d2d;
  padding: 10px;
}
.elements a {
  text-decoration: none!important;
  color: #aaa;
}
.active {
  border-top: 1px solid #2d2d2d!important;
  background-color: #111111;
  border-left: 5px solid #378fc3
}
.nav>li>a:focus, .nav>li>a:hover {
  text-decoration: none;
  background-color: #212121!important;
}

/*** Table Styles **/

.table-fill {
  background: white;
  border-radius:3px;
  border-collapse: collapse;
  height: 320px;
  margin: auto;
  padding:5px;
  width: 100%;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  animation: float 5s infinite;
}

th {
  color:#D5DDE5;;
  background:#1b1e24;
  border-bottom:4px solid #9ea7af;
  border-right: 1px solid #343a45;
  font-size:23px;
  font-weight: 100;
  padding:24px;
  text-align:left;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  vertical-align:middle;
}

th:first-child {
  border-top-left-radius:3px;
}

th:last-child {
  border-top-right-radius:3px;
  border-right:none;
}

tr {
  border-top: 1px solid #C1C3D1;
  border-bottom-: 1px solid #C1C3D1;
  color:#666B85;
  font-size:16px;
  font-weight:normal;
  text-shadow: 0 1px 1px rgba(256, 256, 256, 0.1);
}

td.text-left:hover {
  background:#4E5066;
  color:#FFFFFF;
  border-top: 1px solid #22262e;
  border-bottom: 1px solid #22262e;
}

tr:first-child {
  border-top:none;
}

tr:last-child {
  border-bottom:none;
}

tr:nth-child(odd) td {
  background:#EBEBEB;
}
tr:nth-child(odd) td:hover {
  background: #4E5066;
}

tr:last-child td:first-child {
  border-bottom-left-radius:3px;
}

tr:last-child td:last-child {
  border-bottom-right-radius:3px;
}

td {
  background:#FFFFFF;
  padding:20px;
  text-align:left;
  vertical-align:middle;
  font-weight:300;
  font-size:18px;
  text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.1);
  border-right: 1px solid #C1C3D1;
}

td:last-child {
  border-right: 0px;
}

th.text-left {
  text-align: left;
  background: #292b2c
}

th.text-center {
  text-align: center;
}

th.text-right {
  text-align: right;
}

td.text-left {
  text-align: left;
}

td.text-center {
  text-align: center;
}

td.text-right {
  text-align: right;
}
