<div class="container-fluid" style="padding: 0">
  <div class="BGimage img-fluid">
    <div style="height: 700px">
      <div class="container" style="bottom: -400px">
        <h1 style="color: white">Se más productivo!</h1>
      </div>
    </div>
  </div>
  <div style="height: 200px; background: black">
    <h3 style="text-align: center; padding-top: 15px; color: #00daff">¿Qué es Meg?</h3>
    <p style="margin-left: auto; margin-right: auto; width: 600px; text-align: center; color:white; margin-top:20px">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium at, debitis ea facilis ipsam ipsum iure laboriosam laborum libero nisi, odio odit perferendis quam sequi vero vitae voluptas voluptatibus. Pariatur.</p>
  </div>
  <div style="height: 800px; background: gray">

  </div>
  <div class="footer">
    <div style="margin-left: auto; margin-right: auto; width: 0"><img src="img/meg-logo.png" class="logo-img-footer"></div>
  </div>
</div>
