<!--
<div class="container-fluid" style="padding: 0">
  <div class="BGimage img-fluid">
    <div style="height: 700px">
      <div class="container" style="bottom: -400px">
        <h1 style="color: white">Se más productivo!</h1>
      </div>
    </div>
  </div>
  <div style="height: 200px; background: black">
    <h3 style="text-align: center; padding-top: 15px; color: #00daff">¿Qué es Meg?</h3>
    <p style="margin-left: auto; margin-right: auto; width: 600px; text-align: center; color:white; margin-top:20px">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium at, debitis ea facilis ipsam ipsum iure laboriosam laborum libero nisi, odio odit perferendis quam sequi vero vitae voluptas voluptatibus. Pariatur.</p>
  </div>
  <div style="height: 800px; background: gray">

  </div>
  <div class="footer">
    <div style="margin-left: auto; margin-right: auto; width: 0"><img src="img/meg-logo.png" class="logo-img-footer"></div>
  </div>
</div>
-->
<div class="headerBG">
  <div class="logoPrincipal">
    <div class="container-fluid">
      <div class="row">
        <div class="col-xs-3 col-md-3">

        </div>
        <div class="col-xs-6 col-md-6"></div>
        <div class="col-xs-3 col-md-3">

        </div>
      </div>
    </div>
  </div>
  <div class="propuestaValor">
    <div class="container">
      <div class="row">
        <div class="col-md-12 col-xs-12">
          <h1 class="pb">¡Seamos Productivos!</h1>
          <div class="row">
            <div class="col-md-12 col-xs-12">
              <!--<button type="button" class="btn btn-default btn-round-lg btn-lg btn-download" style="margin-top: 20px;" data-toggle="modal" data-target="#modalInicio">COMENZAR A CONECTAR</button>-->
              <button type="button" class="btn btn-round-lg btn-lg btn-download" style="margin-top: 20px;">Empezar</button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!--div class="modal fade" id="modalInicio" tabindex="-1" role="dialog" aria-labelledby="myModallabel" aria-hidden="true">
	  <div class="modal-dialog">
		  <div class="modal-content">
			  <div class="modal-header">
				  <button type="button" class="close" data-dismiss="modal" aria-hidden="true" style="border: 2px solid black; border-radius: 15px;width: 25px;height: 25px;">&times;</button>
			  </div>
			  <div class="modal-body">
				  <h3 style="text-align: center; font-family: 'Raleway'; color: gray; margin-bottom: 30px;">Crea una cuenta y empieza a conectar.</h3>
				  <form>
					  <div class="form-group">
						  <input type="text" class="form-control" id="nombre" aria-describedby="emailHelp" placeholder="Nombre">
						  <!--small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small-->
    <!--/div>
	<div class="form-group">
		<input type="email" class="form-control" id="mail" placeholder="Mail">
	</div>
	<div class="form-group">
		<input type="tel" class="form-control" id="telefono" placeholder="Teléfono">
	</div>
	<button type="submit" class="btn btnModal btn-login">Comenzar</button>
</form>
</div>
</div>
</div>
</div-->

  </div>
  <div class="container">
    <!--button type="button" class="btn btn-primary btn-round-lg btn-lg btn-demo">DEMO</button-->
    <i class="fa fa-angle-down fa-5x" aria-hidden="true"></i>
  </div>
</div>
<div class="segundaSeccion">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <h1 class="titulo">¿ Qué es Meg ?</h1>
        <p class="subtitulo">Un ChatBot asistente que conoce tus actividades y encuentra los
          tiempos muertos para aprovecharlos en el cumplimiento de alguna
          actividad. Además, Meg te ayuda a conseguir cualquier producto o
          servicio on demand.</p>
      </div>
    </div>
  </div>
</div>

<div class="tercerSeccion" style="background: none; background-color:#F4F4F4;">
  <div class="container">
    <h1 class="cfTitulo" style="text-align: center; margin: 40px 0 40px 0;">¿Cómo funciona?</h1>
    <div class="row">
      <div class="col-sm-6">
        <div class="iphone-slider-container">
          <img src="http://i829.photobucket.com/albums/zz217/RoYibarra/ss-1.png" alt="" class="iphone">
        </div>
      </div>
      <div class="col-sm-6">
        <br><br><br><br>
        <h2>Crea tu horario:</h2>
        <p>
          Lo primero es decirle a Meg cuales son tus clases indicandole la hora y el nombre de estas. <br>
          <strong>Puedes crear clases en tu horario con el comando: "Crear clase + Hora de tu clase + Nombre de tu clase". </strong>
        </p>
      </div>
      <div class="col-sm-6" style="margin-top: -110px">
        <br><br><br><br><br><br><br><br>
        <h2>Crear ToDo's</h2>
        <p>
          Puedes decirle a Meg tus actividades pendientes y estas se verán reflejadas en tu Dashboard a manera de una lista. <br>
          <strong>Puedes crear ToDo's con el comando "Recuerdame + Tu actividad + el número 1, 2 o 3 según el nivel de prioridad que esta tenga".</strong>
        </p>
      </div>
      <div class="col-sm-6" style="margin-top: -100px">
        <div class="iphone-slider-container">
          <img src="http://i.imgur.com/qD7drWU.png" alt="" class="iphone">
        </div>
      </div>
      <div class="col-sm-6" style="margin-top: -100px">
        <div class="iphone-slider-container">
          <img src="http://i.imgur.com/i5Gku0Q.png" alt="" class="iphone">
        </div>
      </div>
      <div class="col-sm-6" style="margin-top: -100px">
        <br><br><br><br><br><br><br><br>
        <h2>¡Pide a Meg lo que necesites!</h2>
        <p>No salgas de casa si no es necesario o si tienes algo mejor que hacer, en lugar de eso, escríbele a Meg que necesitas y lo tendrás en la puerta de tu casa.</p>
      </div>
      <div class="col-sm-6" style="margin-top: -110px">
        <br><br><br><br><br><br><br><br>
        <h2>Categorías de fácil acceso:</h2>
        <p>
          Dentro de este servicio puedes ver el proceso de tus pedidos, desde que lo pides, hasta que ya te fue entregado, además puedes ver tus pedidos más comunes y los pedidos <i>trending</i> que los demás usuarios están haciendo.
          <strong>Puedes hacer un pedido con el comando "Necesito + lo que necesitas que Meg te lleve".</strong>
        </p>
      </div>
      <div class="col-sm-6" style="margin-top: -100px">
        <div class="iphone-slider-container">
          <img src="http://i.imgur.com/u2OGjRw.png" alt="" class="iphone">
        </div>
      </div>
      <div class="col-sm-6" style="margin-top: -100px">
        <div class="iphone-slider-container">
          <img src="http://i.imgur.com/cQhv1KG.png" alt="" class="iphone">
        </div>
      </div>
      <div class="col-sm-6" style="margin-top: -100px">
        <br><br><br><br><br><br><br><br>
        <h2>Define tus metas y mira tus avances:</h2>
        <p>Dile a Meg qué es eso que tantas ganas tienes de lograr y mira en tu Dashboar que tan cerca o lejos estás de cumplir tu meta.</p>
      </div>
    </div>
  </div>
</div>

<!--div class="tercerSeccion">
	<div class="container">
		<h1 class="titulo">¿Cómo funciona?</h1>
		<div class="container">
			<div class="row">
				<div class="col-lg-12 col-md-12 col-sm-8 col-xs-9 bhoechie-tab-container">
					<div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 bhoechie-tab-menu">
						<div class="list-group">
							<a href="#" class="list-group-item active text-center">
								<h3 class="pasos">1. CREA</h3>
							</a>
							<a href="#" class="list-group-item text-center">
								<h3 class="pasos">2. ARROJA</h3>
							</a>
							<a href="#" class="list-group-item text-center">
								<h3 class="pasos">3. TEJE</h3>
							</a>
							<a href="#" class="list-group-item text-center">
								<h3 class="pasos">4. CHAT</h3>
							</a>
							<a href="#" class="list-group-item text-center">
								<h3 class="pasos">5. CONECTA</h3>
							</a>
						</div>
					</div>
					<div class="col-lg-9 col-md-9 col-sm-9 col-xs-9 bhoechie-tab">
						<!-- flight section -->
<!--div class="bhoechie-tab-content active">
	<center style="border-right: 22px solid #215C92">
		<h3 style="margin-top: 0;">Crea tu perfil al ir contestando
			diferentes preguntas y quizzes.
			<br><br>
			Las preguntas aparecerán día con día. Entre más contestes, más completo estará tu perfil.
		</h3>
	</center>
</div>
<!-- train section -->
<!--div class="bhoechie-tab-content">
	<center style="margin-top: 120px;border-right: 22px solid #3B669D">
		<h3 style="margin-top: 0;">
			Pregunta aquello que te gustaría saber sobre esa persona especial.
			<br><br>
			Seleccionamos a 3 weavers diferentes para que la contesten.
		</h3>
	</center>
</div>

<!-- hotel search -->
<!--div class="bhoechie-tab-content">
	<center style="margin-top: 240px;border-right: 22px solid #5670A9">
		<h3 style="margin-top: 0;">
			Elige las respuestas que más te gusten y comienza a tejer hilos que te acerquen a esa persona especial.
			<br><br>
			Conózcanse de una forma más
			profunda y honesta.</h3>
	</center>
</div>
<div class="bhoechie-tab-content">
	<center style="margin-top: 330px;border-right: 22px solid #8680BC">
		<h3 style="margin-top: 0;">
			Cuando hayas elegido a esa persona especial podrán hablar directamente.
			<br><br>
			Al fin podrás ver  con quién has estado compartiendo todo este tiempo.</h3>
	</center>
</div>
<div class="bhoechie-tab-content">
	<center style="margin-top: 440px;border-right: 22px solid #BB98D8">
		<h3 style="margin-top: 0;">Disfruta de una promoción pensada
			exclusivamente para ustedes dos.
			<br><br>
			Los invitamos a que se conozcan en un lugar donde sabemos que lo disfrutarán.</h3>
	</center>
</div>
</div>
</div>
</div>
</div>
</div>
</div-->

<!--<div class="cuartaSeccion">
  <div class="container">
    <h1 class="titulo">¿Por qué <span class="customFont">weaver</span> ?</h1>
  </div>
  <div class="container centrado">
    <div class="row">
      <div class="col-md-4 col-sm-12 PQW" style="margin-bottom: 40px">
        <img class="imgPQW" src="https://s28.postimg.org/ocpy48h1p/icono1.png" alt="">
        <h3>Preguntas interesantes</h3>
        <h4 style="color: black" class="separacion">No gastes tiempo llenando interminables perfiles que en realidad no pueden expresar quien realmente eres.</h4>
        <p class="separacion segundoT">Nuestras preguntas y quizzes descubren lo mejor de ti, nos ayudan a saber lo que estás buscando.</p>
      </div>
      <div class="col-md-4 col-sm-12 PQW" style="margin-bottom: 40px">
        <img class="imgPQW" src="https://s27.postimg.org/pavf84qgz/icono2.png" alt="">
        <h3>Como una cita a ciegas</h3>
        <h4 style="color: black" class="separacion">Solo sé tú mismo, conecta de una manera auténtica y natural.</h4>
        <p class="separacion segundoT">Vive una verdadera experiencia de cita a ciegas. Comparte y ve más allá con alguien sin ningún prejuicio.</p>
      </div>
      <div class="col-md-4 col-sm-12 PQW" style="margin-bottom: 40px">
        <img class="imgPQW" src="https://s23.postimg.org/xd1950biz/icono3.png" alt="">
        <h3>No más swiping</h3>
        <h4 style="color: black" class="separacion">Deja de coleccionar “matches” y enfócate en personas que realmente les importa.</h4>
        <p class="separacion segundoT">Lo mejor de cada persona está en su interior, toma el tiempo de descubrirlo.</p>
      </div>
    </div>

    <div class="row">
      <div class="col-md-4 col-sm-12 PQW">
        <img class="imgPQW" src="https://s30.postimg.org/777aho69d/icono4.png" alt="">
        <h3>Cerca de ti</h3>
        <h4 style="color: black" class="separacion">Conoce gente a tu alrededor, esta vez sin ningún filtro.</h4>
        <p class="separacion segundoT">Nunca sabrás lo que encontrarás. Un excelente amigo o algo más. Te sorprenderás.</p>
      </div>
      <div class="col-md-4 col-sm-12 PQW">
        <img class="imgPQW" src="https://s29.postimg.org/cacx7o0qv/icono5.png" alt="">
        <h3>Llévalo al mundo real</h3>
        <h4 style="color: black" class="separacion">Disfruta de ofertas especiales en lugares cerca de ustedes para una primer cita.</h4>
        <p class="separacion segundoT">Es nuestra manera de celebrar que se conocieron.</p>
      </div>
      <div class="col-md-4 col-sm-12 PQW">
        <img class="imgPQW" src="https://s24.postimg.org/t71px265h/icono6.png" alt="">
        <h3>Evita atención innecesaria</h3>
        <h4 style="color: black" class="separacion">La interacción de Weaver evitará que conozcas gente que no busca una relación más honesta.</h4>
        <p class="separacion segundoT">Recuerda que lo bueno, toma tiempo.</p>
      </div>
    </div>
  </div>
</div>-->
<footer>
  <br>
  <br>
  <img class="logoFooter" src="../../img/meg-logo.png" style="width: 200px">
  <div class="container footerNav">
    <a href="">BLOG</a>
    <a href="">CONTACTO</a>
  </div>
</footer>

<script>
  $(document).ready(function() {
    $("div.bhoechie-tab-menu>div.list-group>a").click(function(e) {
      e.preventDefault();
      $(this).siblings('a.active').removeClass("active");
      $(this).addClass("active");
      var index = $(this).index();
      $("div.bhoechie-tab>div.bhoechie-tab-content").removeClass("active");
      $("div.bhoechie-tab>div.bhoechie-tab-content").eq(index).addClass("active");
    });
  });
</script>
