* {
  margin: 0;
  padding: 0;
}
html, body {
  height: 100%
}
.left {
  background-color: #242424;
  width: 15.5%;
  height: 100%;
  margin: 0;
  box-shadow: 2px 0px 20px #101010;
  float: left;
}
.right {
  background-color: rgba(238, 238, 238, 0.2);
  width: 84.5%;
  height: 100%;
  margin: 0;
  float: right;
}
.right header {
  width: 100%;
  height: 45px;
  background-color: rgba(255, 255, 255, 0.82);
  padding: 10px;
  font-family: "Open Sans", sans-serif;
  position: fixed;
  z-index: 20;
  line-height: 30px;
  color: #999;
  font-size: 18px;
  box-shadow: 2px 0px 20px #101010;
}
.right header h3 {
  margin-left: 10px;
}
.separador {
  border-top: 10px solid #378fc3;
}
.left img {
  width: 135px;
  margin: 0px auto 10px auto;
  display: block;
}
.fotoPerfil {
  width: 60px!important;
  margin-top: -20px!important;
  margin-bottom: 10px!important;
  border-radius: 100%;
  border: solid 3px white;
}
.left h3 {
  color: white;
}
.logo {
  margin: 20px 0 10px 15px !important;
  padding: 3px;
}
.logoHead {
  width: 100%;
  border-bottom: 1px solid #5d5c5c;
}
.navbar-brand {
  height: 50px;
  padding: 15px 15px;
  font-size: 18px;
  line-height: 20px;
}
.nombre {
  color: white;
  font-family: Roboto;
  text-align: center;
}
ul {
  text-decoration: none!important;
  width: 100%;
}
.elements {
  text-align: left;
  color: gray;
  font-family: Roboto;
  border-top: 1px solid #2d2d2d;
  padding: 10px;
}
.elements a {
  text-decoration: none!important;
  color: #aaa;
}
.active {
  border-top: 1px solid #2d2d2d!important;
  background-color: #111111;
  border-left: 5px solid #378fc3
}
.nav>li>a:focus, .nav>li>a:hover {
  text-decoration: none;
  background-color: #212121!important;
}

.firstItem {
  margin-top: 85px;
  margin-left: 30px;
}
.secondItem {
  margin-top: 25px;
  margin-left: 30px;
}
.logo-img {
  width: 112px;
  margin-left: -30px;
  margin-top: -17px;
}
.logo-img-footer {
  width: 150px;
  margin-left: -30px;
  padding-top: 20px;
}
.BGimage{
  background: url(img/background-header.jpg) no-repeat center center fixed;
  height: 500px;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.footer {
  height: 200px;
  background: black;
}
